html {
	overflow-x: hidden;
	overflow-y: auto;
  }
  
  table {
	  border-collapse: collapse;
	  border-spacing: 0;
	  width: 100%;
  }
  
  th, td {
	  border: 1px solid #e6e6e6;
	  padding: 4px;
	  text-align: center;
	  color: #717171;
  }
  th {
	  border: 1px solid #6a6a9e;
  }
  #searchTable {
	  width: 100%;
  }
  #recordListTable{
	  box-shadow: 0px 3px 6px rgba(0,0,0,0.1);
	  background-color: white;
  }
  #searchTable, #searchTable th, #searchTable td {
	  border: 0px solid black;
	  padding: 10px;
	  /*text-align: left;*/
	  vertical-align: middle;
  }
  
  #searchTable tr {
	  /* border: 1px solid aliceblue; */
	  /* background: aliceblue; */
  }
  
  th {
	  color: #ffffffb8;
	  background-color: #6a6a9e;
	  font-weight: normal;
  }
  
  input {
	  font-size: 1em;
  }
  
  input[type=text] {
	  width: 100%;
	  clear: both;
	  /* height: 20px !important; */
	  /* vertical-align: middle; */
	  padding: 3px 5px;
	  font-size: 12px;
	  box-sizing: border-box;
  }
  
  #dateFrom #dateTo {
	  width: auto;
  }
  
  select {
	  width: 100%;
	  clear: both;
	  margin-bottom: 10px;
	  height: 25px !important;
  }
  
  body {
	  font-family: Arial, Helvetica, sans-serif;
	  font-size: 1em;
	  color: #717171;
  }
  
  .ajax-loader {
	  background: url(ajax-loader.gif) center center no-repeat;
	  background-color: rgba(0,0,0,0.7);
  }
  
  #addDepositButton {
	  margin-bottom: 10px;
	  width: 150px;
	  height: 30px;
  }
  
  #addDepositParentDiv {
	  position: relative;
	  width: 500px;
	  height: 0px;
	  margin-bottom: 30px;
  }
  
  #addDepositDiv {
	  width: 100%;
	  height: 100%;
	  position: absolute;
	  top: 0;
	  left: 0;
	  display: none;
	  padding: 20px 20px 0px 20px;
	  clear:both;
	  border: grey solid 1px;
  }
  
  #searchParentDiv {
	  position: relative;
	  /* height: 220px; */
	  /* margin-bottom: 30px; */
  }
  
  #searchDiv {
	  width: 100%;
	  /* height: 100%; */
	  /* position: absolute; */
	  top: 0;
	  left: 0;
	  padding: 20px 0px 20px 0px;
	  clear:both;
  }
  
  #firsRecordLabel {
	  display: none;
  }
  
  #firsRecord {
	  display: none;
	  width: 92%;
  }
  
  #searchBtn {
	  display: none;
	  width: 25px;
	  height: 25px;
	  padding: 0px;
	  float: right;
  }
  
  #searchImg {
	  width: 20px;
	  height: 20px;
  }
  
  #fideTable {
	  display: none;
  }
  
  #noDepositsLabel {
	  display: none;
  }
  
  #mainContainer {
	  margin-top:10px;
  }
  
  #firsDiv {
	  width: 100%;
	  padding: 20px;
	  box-sizing: border-box;
  }
  
  #firsTable {
	  width: 100%;
	  margin-bottom:10px;
  }
  
  form {
	  width: 100%;
  }
  fieldset {
	  border: 1px solid #909090;
	  padding: 20px;
	  width: 100%;
	  box-sizing: border-box;
	  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(191,191,191,0.65) 100%);
	  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(191,191,191,0.65) 100%);
	  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(191,191,191,0.45) 100%);
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6bfbfbf',GradientType=0 );
	  border-radius: 6px;
	  margin: 0px;
	  box-shadow: 0px 3px 6px rgba(0,0,0,0.1);
  }
  .buttonsContainer {
	  width: auto;
	  text-align: center;
	  margin: 20px;
	  box-sizing: border-box;
  }
  
  .requiredStar {
	  color: red;
  }
  
  #tableLbl {
	  background-color:aliceblue;
  }
  
  a {
	  text-decoration: none;
	  color: #717171;
	  cursor: pointer;
  }
  .paging-result{
	  font-size: 13px;
	  line-height: 16px;
  }
  .paging, .next{
	  font-size: 12px;
	  line-height: 16px;
  }
  .transparent {
	  /* works for IE 5+. */
	  filter:alpha(opacity=60); 
  
	  /* works for IE 8. */
	  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  
	  /* works for old school versions of the Mozilla browsers like Netscape Navigator. */
	  -moz-opacity:0.6; 
  
	  /* This is for old versions of Safari (1.x) with KHTML rendering engine */
	  -khtml-opacity: 0.6; 
  
	  /* This is the "most important" one because it's the current standard in CSS. This will work in most versions of Firefox, Safari, and Opera. */  
	  opacity: 0.6; 
  }
  .paging_container{
	  position: relative;
  }

  .paging_container > *{
	  display: inline-block;
  }
  
  .paging_prev{
	  position: absolute;
  }
  .paging_next{
	  position: absolute;
	  right: 0px;
	  top:0px;
  }
  
  .paging_block_container{
	  width: 600px;
	  margin:auto;
	  position: relative;
	  display: block;
	  height: 20px;
	  /* overflow: hidden; */
  }
  
  .paging_block_container > *{
	  display: inline-block;
  }
  
  .paging_block{
	  display: block;
	  text-align: center;
	  margin: auto;
	  max-width: 0px;
	  overflow: hidden;
	  transition: 0.5s all;
	  display: none;
  }
  .enable_block{
	display: block;
  }
  .show_block{
    max-width: 600px;
  }
  .paging_block>*{
	  text-align: center;
  }